.player {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__timer {
    width: 50%;
    display: flex;
  }

  &__range {
    width: 100%;
    padding: 1rem 0;
  }

  &__text {
    padding: 1rem;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 30%;

    svg {
      cursor: pointer;
    }
  }
}
